@layer components {
  .tab-list {
    display: flex;
    flex: row nowrap;
    padding: 0;
  }

  .tab {
    display: flex;
    align-items: center;
    /* The gap is between the text and an eventual badge */
    gap: var(--spacing-3xs);
  }

  /* The custom focus is applied in the same way to all tab styles */
  .tab:focus-within {
    outline: #1b2134 solid 2px;
    outline-offset: 2px;
  }

  .tab-list.pill .tab {
    background-color: white;
    border: 1px solid #d3d3dc;
    border-radius: 100px;
    color: #1b2134;
  }

  .tab-list.pill .tab:hover {
    background-color: #f6f6fa;
    border-color: #c4c5cf;
  }

  .tab-list.pill .tab:active {
    background-color: #f1f1f7;
  }

  .tab-list.pill .tab[aria-selected="true"] {
    background-color: #1b2134;
    color: white;
  }

  .tab-list.pill .tab[aria-selected="true"]:hover {
    background-color: #343a4e;
  }

  .tab-list.pill .tab[aria-selected="true"]:active {
    background-color: #585d71;
  }

  .tab button {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;

    /* Set here since it does not need to be managed at a higher level */
    font-weight: 700;
    /* Set to inherit since it varies based on the selected state of the tab */
    color: inherit;
  }

  .tab:focus-within button {
    outline: none;
  }

  @media (max-width: 768px) {
    .tab-list.pill {
      gap: var(--spacing-2xs);
    }

    .tab-list.pill .tab {
      padding-inline: var(--spacing-xs);
    }

    .tab-list.underline {
      gap: var(--spacing-l);
    }

    .tab {
      height: 42px;
    }
  }

  @media (min-width: 768px) {
    .tab-list.pill {
      gap: var(--spacing-xs);
    }

    .tab-list.pill .tab {
      padding-inline: var(--spacing-s);
    }

    .tab-list.underline {
      gap: var(--spacing-xl);
    }

    .tab {
      height: 50px;
    }
  }
}
